|<!DOCTYPE html>
html
    head
        title Pug to html
        link(rel="stylesheet" href="../styles/main.min.css")
        script(src="../../node_modules/jquery/dist/jquery.min.js")
        script(src="../js/bundle.min.js")
    body 
        p Hello, World! hope this is working now..
        p No fckin way! 
        .mlg Now i can do whatever i want!!!!