|<!DOCTYPE html>
html
    include includes/head.pug
    body 
        .content
            .bcgImg 
                img(src="../../assets/photos/space_bg.jpg", height="100wh")
            include includes/header.pug
        include includes/main.pug