#footer.container-fluid
    .row 
        .col 
            h1
                span Конец
                span подвал
            p Ты справился! Спасибо за твой труд :&rpar;
            img.img-fluid(src="../../assets/photos/WeJet-logo.png", alt="Logo")