header#header.p-0
    nav.navbar-expand.justify-content-between
        .row.p-0.m-0.w-100
            a.col.navbar-brand.p-0(href="#")
                img.img-fluid(src="../../assets/photos/WeJet-logo.png", alt="Logo", width="192", height="45")
            .navitemswrapper.col.p-0
                ul.navbar-nav.align-items-end
                    li.nav-item.p-0
                        a.nav-link.p-0(aria-current="page" href="#text") Текст
                    li.nav-item.p-0
                        a.nav-link.p-0(aria-current="page" href="#cards") Карточки
                    li.nav-item.p-0
                        a.nav-link.p-0(aria-current="page" href="#scroll") Скролл
                    li.nav-item.p-0
                        a.nav-link.p-0(aria-current="page" href="#slidersec") Слайдер
    .container-fluid.hero
        .row
            .col-12.text-center
                h1.headerTitleWhite Привет! Я&nbsp;твое
            .col-12
                .spaceman
                    img(src="../../assets/photos/space_astronaut.png" data-parallax="0.02")
            .col-12.text-center
                h1.headerTitle тестовое задание
            .col-12.d-flex.justify-content-center
                p.headerSubTitle.text-center Я состою из разнообразных блоков и элементов, которые круто смотрятся вместе, особенно если их дополнить простой анимацией. Например, в этом блоке, космонавт должен парить при скролле при помощи параллакс-эффекта.
    a.arrowBottom(href="#text")
        p Я готов!
        img(src="../../assets/icons/arrow.svg", alt="")