header#header
    .container
        .nav.navbar.bg-dark
            .container-fluid
                a.navbar-brand(href="#")
                    img(src="../../assets/photos/WeJet-logo.png" alt="Logo" width="30" height="24" class="img-fluid")