.bcgImg 
    img(src="../../assets/photos/space_bg.jpg", height="100wh")
header#header.p-0
    nav.navbar.navbar-expand
        .container-fluid.p-0
            a.navbar-brand.p-0(href="#")
                img.img-fluid(src="../../assets/photos/WeJet-logo.png", alt="Logo", width="192", height="45")
            .collapse.navbar-collapse.d-flex.justify-content-end
                ul.navbar-nav.align-items-end
                    li.nav-item.p-0
                        a.nav-link.active.p-0(aria-current="page" href="#") Текст
                    li.nav-item.p-0
                        a.nav-link.p-0(aria-current="page" href="#") Карточки
                    li.nav-item.p-0
                        a.nav-link.p-0(aria-current="page" href="#") Скролл
                    li.nav-item.p-0
                        a.nav-link.p-0(aria-current="page" href="#") Слайдер
    h1 Привет! Я твое
    .spaceman
    h1 тестовое задание
    p Я состою из разнообразных блоков и элементов, которые круто смотрятся вместе, особенно если их дополнить простой анимацией. Например, в этом блоке, космонавт должен парить при скролле при помощи параллакс-эффекта.