#text.container-fluid
    .row.justify-content-between
        .col-6
            h2
                span Для начала: 
                span текстовый блок в 2 колонки 
        .col-6
            p Для мелкого текста используется более удобочитаемый шрифт, ведь надо с заботой относиться к пользователям сайта. По этой же причине высота строк в этом абзаце немного увеличена, так как разреженный текст читать проще. Ну а чтобы тебе было интереснее, создай кнопку, вызывающую форму :)
            .arrowForm 
                span Открыть форму!
                img(src="../../assets/icons/arrow.svg", alt="")

#image.container-fluid
    .row.justify-content-between
        .col-6.p-0
            img.img-fluid(src="../../assets/photos/nasa-rTZW4f02zY8-unsplash.jpg", alt="")
        .col-6
            h2
                span Добавим красок: 
                span изображение
            p По структуре этот блок очень похож на предыдущий, но две колонки в данном случае содержат разный контент: текст и изображение.   

#cards.container-fluid
    .row.align-items-center.justify-content-between.h-100
        .col-4.d-flex.justify-content-center
            .card.bg-dark.text-white
                img(class="card-img img-fluid" src="../../assets/photos/alexander-andrews-fsH1KjbdjE8-unsplash.jpg" alt="Card image")
                .card-img-overlay
                    h1.card-title Блок с&nbsp;плитками и&nbsp;краткими текстами на&nbsp;них
                    p.card-text Не забудь про эффект наведения, чтобы&nbsp;добавить&nbsp;интерактивности
        .col-4.d-flex.justify-content-center
            .card.bg-dark.text-white
                img(class="card-img img-fluid" src="../../assets/photos/johny-goerend-Oz2ZQ2j8We8-unsplash.jpg" alt="Card image")
                .card-img-overlay
                    h1.card-title Так выглядит карточка, если на нее навести курсор
                    p.card-text Она приподнимается, появляется тень в&nbsp;тон фотографии,&nbsp;текст&nbsp;непрозрачный
        .col-4.d-flex.justify-content-center
            .card.bg-dark.text-white
                img(class="card-img img-fluid" src="../../assets/photos/nate-rayfield-_WR6tUIAJe8-unsplash.jpg" alt="Card image")
                .card-img-overlay
                    h1.card-title Фотография на фоне карточки не должна мешать
                    p.card-text Текст здесь на первом месте
#scroll.container-fluid 
    .row.align-items-center.justify-content-between
        h1 
            span Добавим динамики: 
            span элементы реагируют 
            span на скролл
    .row.align-items-center.justify-content-between
        p Блок простой по составу, но каждый его элемент должен приходить <br> в движение при скролле страницы.
    .row.align-items-center.justify-content-between
        .elemWrapper
            img(class="img-fluid imacWrapper" src="../../assets/photos/iMac_flat.png" alt="ImacImg")
            .bgParallax 
                .text Это изображение зафиксировано, но&nbsp;при&nbsp;скролле создается <br> ощущение, что&nbsp;оно&nbsp;движется внутри экрана.
    .row.align-items-center.justify-content-between
        p Строки текста, расположенные ниже, при скролле должны сами по себе <br> двигаться, как бесконечные бегущие строки.
    .row.scrollLeft(data-scroll data-scroll-direction="horizontal")
        div.d-inline / Эта строка должна двигаться <span>влево</span> /
        div.d-inline Эта строка должна двигаться <span>влево</span>
        div.d-inline / Эта строка должна двигаться <span>влево</span>
    .row.scrollRight
        div.d-inline / А эта строка должна двигаться <span>вправо</span> /
        div.d-inline А эта строка должна двигаться <span>вправо</span>
        div.d-inline / А эта строка должна двигаться <span>вправо</span>  
    .row.icons
        .col 
            img(class="img-fluid" src="../../assets/icons/coffee.svg" alt="ImacImg")
            h3 Иконка и текст
            p Иконки с описанием расположены в 3 колонки и появляются при скролле по очереди
        .col 
            img(class="img-fluid" src="../../assets/icons/feather.svg" alt="ImacImg")
            h3 Анимация
            p Появление иконок происходит через плавную смену прозрачности и небольшой подъем
        .col
            img(class="img-fluid" src="../../assets/icons/star.svg" alt="ImacImg")
            h3 При наведении
            p Также все иконки должны реагировать на наведение курсора, по примеру этой иконки. 

#slidersec.container-fluid 
    .row
        h1 
            span И снова текст: 
            span несколько абзацев
            span в слайдере
    .row
        #slider.slider
            .wrapper
                #slides.slides
                    span.slide
                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.
                        i Lorem ipsum dolor sit amet.
                    span.slide 
                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.
                        i Lorem ipsum dolor sit amet.
                    span.slide 
                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.
                        i Lorem ipsum dolor sit amet.
                    span.slide 
                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.
                        i Lorem ipsum dolor sit amet.
                    span.slide 
                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.
                        i Lorem ipsum dolor sit amet.
#prefooter.container-fluid 
    .bg
    .row 
        .col
            h1
                span Заверши страницу
                span баннером с кнопкой
    .row 
        .col
            button.btn(type="button") Открыть форму!

