#text.container-fluid
    .row.justify-content-between
        .col-6
            h2
                span Для начала: 
                span текстовый блок в 2 колонки 
        .col-6
            p Для мелкого текста используется более удобочитаемый шрифт, ведь надо с заботой относиться к пользователям сайта. По этой же причине высота строк в этом абзаце немного увеличена, так как разреженный текст читать проще. Ну а чтобы тебе было интереснее, создай кнопку, вызывающую форму :)
            .arrowForm 
                span Открыть форму!
                img(src="../../assets/icons/arrow.svg", alt="")

#image.container-fluid
    .row.justify-content-between
        .col-6.p-0
            img.img-fluid(src="../../assets/photos/nasa-rTZW4f02zY8-unsplash.jpg", alt="")
        .col-6
            h2
                span Добавим красок: 
                span изображение
            p По структуре этот блок очень похож на предыдущий, но две колонки в данном случае содержат разный контент: текст и изображение.   

#cards.container-fluid
    .row.justify-content-between
        .col-12
            
